@import "assets/styles/spacing";
@import "assets/styles/colors";

header {
  display: flex;
  align-items: center;
  gap: $GAP_DEFAULT;
  padding: $GAP_S;
  border: 1px solid $COLOR_GRAY_2;
  .header_title {
    flex-grow: 1;
    color: $COLOR_GRAY_7;
    margin: 0;
    strong {
      color: $COLOR_GRAY_11;
    }
  }
  button {
    margin-right: $GAP_DEFAULT;
    &:after {
      content: "";
      left: calc(100% + 1rem);
      top: 0;
      height: 100%;
      position: absolute;
      border-right: 1px solid $COLOR_GRAY_2;
    }
  }

  button {
    min-width: fit-content;
    padding: $GAP_S;
    border-radius: $RADIUS_DEFAULT;
    &.action_save {
      color: $COLOR_WHITE;
      background-color: $COLOR_HIGHLIGHT;
    }
    &.action_discard {
      color: $COLOR_GRAY_9;
      width: 106px;
      text-decoration: underline rgb(94, 94, 94);
      background-color: $COLOR_WHITE;
    }
  }
}
