@import "assets/styles/colors";
@import "assets/styles/spacing";

.properties {
  .title {
    display: flex;
    gap: $GAP_S;
    align-items: center;
    .add_button {
      line-height: 1;
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, auto);
      gap: $GAP_XS;
      text-decoration: underline;
      color: $COLOR_HIGHLIGHT;
    }
  }
  .properties_list {
    display: grid;
    max-width: 70%;
    gap: $GAP_S;
    padding: 0;
    list-style-type: none;
  }
}
