$COLOR_WHITE: #ffffff;
$COLOR_GRAY_1: #f0f0f0;
$COLOR_GRAY_2: #e6e6e6;
$COLOR_GRAY_3: #dadada;
$COLOR_GRAY_4: #d9d9d9;
$COLOR_GRAY_5: #cdcdcd;
$COLOR_GRAY_6: #c0c0c0;
$COLOR_GRAY_7: #848484;
$COLOR_GRAY_8: #777777;
$COLOR_GRAY_9: #5e5e5e;
$COLOR_GRAY_10: #515151;
$COLOR_GRAY_11: #373737;
$COLOR_BLACK_LIGHT: #111111;
$COLOR_BLACK: #000000;
$COLOR_HIGHLIGHT: #006cff;
